* {
    box-sizing: border-box;
    outline: none;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover, a:visited:hover {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

body {
    font-family: Segoe UI;
    font-size: 15px;
    margin: 0;
    padding: 0 16px 0 16px;
}

img {
    vertical-align: middle;
}