<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <%- include('../partials/head', { head: head }); %>

    <link href="css/common.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">

    <!-- boxIcons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <object data="images/logo.svg" type="image/svg+xml"></object>

    <%- include('../partials/footer'); %>
</body>
</html>