<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <%- include('../partials/head', { head: head }); %>

    <link href="css/common.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <link href="css/partials/compRealEstate.css" rel="stylesheet">

    <!-- boxIcons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <object data="images/logo.svg" type="image/svg+xml"></object>

    <!-- ====================> Start - Latest real estate <==================== -->
    <div class="latest-real-estate">
        <p class="latest-real-estate__caption">Bất động sản mới nhất</p>

        <div class="latest-real-estate__content">
            <div class="comp-real-estate">
                <a href="/tin-dang/1">
                    <div class="comp-real-estate__img">
                        <img src="images/latest-real-estate-001.jfif" alt="">

                        <div class="comp-real-estate__collection">
                            <i class="bx bx-image"></i>
                            <p>10</p>
                        </div>
                    </div>

                    <div style="height: 55px">
                        <p class="comp-real-estate__title">
                            Cho Thuê Phòng Full NT có ban công thoáng mát KDC An Phú Hưng, Quận 7
                        </p>
                    </div>

                    <p class="comp-real-estate__price">
                        <span>4 tỷ 750 triệu</span>
                        <span>·</span>
                        <span>75 m²</span>
                    </p>

                    <p class="comp-real-estate__location">Quận 3, TP.HCM</p>
                </a>
            </div>

            <div class="comp-real-estate">
                <a href="/tin-dang/1">
                    <div class="comp-real-estate__img">
                        <img src="images/latest-real-estate-002.jfif" alt="">

                        <div class="comp-real-estate__collection">
                            <i class="bx bx-image"></i>
                            <p>10</p>
                        </div>
                    </div>

                    <div style="height: 55px">
                        <p class="comp-real-estate__title">
                            Bán thửa đất số 153 và 154 tờ bản đồ số 27. Tổ 5 thị trấn Quang Minh, Mê Linh, Hà Nội, DT 160 m2, MT 8m, sổ đỏ chính chủ, ngõ 3m ô tô vào được, giá 14,5tr/m2. LH: chị Mận, 0984089997
                        </p>
                    </div>

                    <p class="comp-real-estate__price">
                        <span>4 tỷ 750 triệu</span>
                        <span>·</span>
                        <span>75 m²</span>
                    </p>

                    <p class="comp-real-estate__location">Quận 3, TP.HCM</p>
                </a>
            </div>

            <div class="comp-real-estate">
                <a href="/tin-dang/1">
                    <div class="comp-real-estate__img">
                        <img src="images/latest-real-estate-003.jfif" alt="">

                        <div class="comp-real-estate__collection">
                            <i class="bx bx-image"></i>
                            <p>10</p>
                        </div>
                    </div>

                    <div style="height: 55px">
                        <p class="comp-real-estate__title">
                            Bán 3 mảnh đất ở huyện Mê Linh giá hợp lý. LH Huyền Trang
                        </p>
                    </div>

                    <p class="comp-real-estate__price">
                        <span>4 tỷ 750 triệu</span>
                        <span>·</span>
                        <span>75 m²</span>
                    </p>

                    <p class="comp-real-estate__location">Quận 3, TP.HCM</p>
                </a>
            </div>

            <div class="comp-real-estate">
                <a href="/tin-dang/1">
                    <div class="comp-real-estate__img">
                        <img src="images/latest-real-estate-004.jfif" alt="">

                        <div class="comp-real-estate__collection">
                            <i class="bx bx-image"></i>
                            <p>10</p>
                        </div>
                    </div>

                    <div style="height: 55px">
                        <p class="comp-real-estate__title">
                            Cần bán lô đất kinh doanh 109m2 tại khu Đô Thị Phú Nhi, Thanh Lâm, Mê Linh
                        </p>
                    </div>

                    <p class="comp-real-estate__price">
                        <span>4 tỷ 750 triệu</span>
                        <span>·</span>
                        <span>75 m²</span>
                    </p>

                    <p class="comp-real-estate__location">Quận 3, TP.HCM</p>
                </a>
            </div>
        </div>

        <button class="latest-real-estate__view-more">
            Xem thêm
        </button>

        <br><br>
    </div> <!-- ====================> End - Latest real estate <==================== -->

    <%- include('../partials/footer'); %>
</body>
</html>