<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <%- include('../partials/head', { head: head }); %>

    <!-- CSS -->
    <link href="css/common.css" rel="stylesheet">
    <link href="css/list.css" rel="stylesheet">
    <link href="css/partials/compRealEstate.css" rel="stylesheet">

    <!-- boxIcons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    List page

    <%- include('../partials/footer'); %>
</body>
</html>